nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6297c0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

table {
    border-collapse: collapse;
}
table th, tr, td {
   border: solid thin blue;
}
table th {
    background-color: lightgray;
}

form * {
    float: left;
}

form fieldset {
    float: left;
    clear: left;
}

form label {
    clear: left;
    min-width: 5em;
}

table a {
    text-decoration: none;
}

table a:hover {
    color:brown;
}

.message {
    
    color: red;
    float: left;
}


* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    height: 100%;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }

  .login_from {
    margin-left: 20px;
    margin-top: 20px; /* Добавляет отступ сверху */
    margin-right: 20px; /* Добавляет отступ справа */
}



